@font-face {
  font-family: productsans;
  src: url('../fonts/productsans.ttf');
}

@font-face {
  font-family: productsans_bold;
  src: url('../fonts/productsans_bold.ttf');
}

#site-container
{
  box-sizing: border-box;
  width: 70%;
	background: white;
	padding: 21px 50px;
	min-height: 100vh;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

body
{
	margin: 0;
	padding: 0;
	font-family: productsans;
	background: rgb(245, 245, 245);
}

h1
{
  text-align: center;
  margin: 0;
}

h2
{
  margin: 0 0 8px 0;
}

h1,h2,h3
{
	font-family: productsans_bold;
}

input
{
  padding: 8px;
	width: 300px;
	margin-bottom: 15px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
	border-radius: 12px;
}

table
{
  box-sizing: border-box;
  table-layout: auto;
	width: 100%;
}

tr td:first-child
{
  text-align: left;
  font-family: productsans_bold;
}

tr td:last-child
{
  text-align: right;
}

td
{
	width: 1%;
  padding: 6px 0;
}

td span
{
  display: inline-block;
  padding: 0 4px;
  margin: 0 0 4px 4px;
  background: rgba(0, 0, 0, .125);
  border-radius: 3px;
}

#printsize
{
  text-align: left;
}

button
{
  border-radius: 3px;
  background: rgba(0, 0, 0, .125);
  border: none;
  margin: 4px;
  padding: 8px 12px;
}

button:hover
{
  background: rgba(0, 0, 0, .25);
  cursor: pointer;
}

#image-display-container
{
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border: 3px solid rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.1);
	border-radius: 12px;
}

#userimage
{
  width: 100%;
  display: block;
}

#crop-selection-overlay
{
  box-sizing: border-box;
  background: rgba(255,255,255,.2);
  border: 3px dashed rgba(255,255,255,.2);
  position: absolute;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 3px;
  object-fit: cover;
  touch-action: none;
}
#crop-selection-overlay:hover
{
  border: 3px solid rgba(255,255,255,.3);
  background: rgba(255,255,255,.3);
  cursor: pointer;
}

#cropped-image
{
  width: 100%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border: 3px solid rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.1);
	border-radius: 12px;
}

footer
{
  color: rgba(0,0,0,.65);
  text-align: center;
}

footer a
{
  text-decoration: none;
  color: black;
}

footer a:hover
{
  text-decoration: underline;
}

.centered-block
{
  display: block;
  margin: 0 auto;
}

.pushdown
{
	margin-bottom: 30px;
}

.hide
{
  display: none;
}

.selected-option
{
  border: 3px solid rgba(0,0,0,.2);
}

.recommended-option
{
  border: 3px solid rgb(209, 187, 77) !important;
}

@media only screen and (max-width: 700px)
{
	#site-container
	{
    width: 100%;
    padding: 21px;
	}

  input
  {
    width: 100%;
    font-size: 1.025em;
  }

  #photo-information
  {
    font-size: 1.2em;
  }
}
