@font-face {
  font-family: productsans;
  src: url('https://karltroid.github.io/PhotoPriceEstimator/fonts/productsans.ttf');
}

@font-face {
  font-family: productsans_bold;
  src: url('https://karltroid.github.io/PhotoPriceEstimator/fonts/productsans_bold.ttf');
}

#site-container
{
  box-sizing: border-box;
  /*width: 75%;
	background: rgb(240,240,240);
	padding: 21px 50px;
	min-height: 100vh;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
}

body
{
	margin: 0;
	padding: 0;
	font-family: productsans;
	background: rgba(0,0,0,0);
}

header
{
  position: relative;
  display: block;
  height: auto;
  width: 100%;
  background: white;
  z-index: 100;
  line-height: 100px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.12);
}

h1
{
  text-align: center;
  margin: 0;
}

h2
{
  margin: 0 0 8px 0;
}

h1,h2,h3
{
	font-family: productsans_bold;
}

input
{
  padding: 8px;
	width: 300px;
	margin-bottom: 15px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
	border-radius: 12px;
}

table
{
  box-sizing: border-box;
  table-layout: auto;
	width: 100%;
}

tr td:first-child
{
  text-align: left;
  font-family: productsans_bold;
}

tr td:last-child
{
  text-align: right;
}

td
{
	width: 1%;
  padding: 6px 0;
}

td span
{
  display: inline-block;
  padding: 0 4px;
  margin: 0 0 4px 4px;
  background: rgba(0, 0, 0, .125);
  border-radius: 3px;
}

#printsize
{
  text-align: left;
}

button
{
  border-radius: 3px;
  background: rgba(0, 0, 0, .125);
  border: none;
  margin: 4px 5px;
  padding: 8px 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

button:hover
{
  background: rgba(0, 0, 0, .25);
  cursor: pointer;
}

#image-display-container
{
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border: 3px solid rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.1);
	border-radius: 12px;
}

#userimage
{
  width: 100%;
  display: block;
}

#crop-selection-overlay
{
  box-sizing: border-box;
  background: rgba(255,255,255,.2);
  border: 3px dashed rgba(255,255,255,.2);
  position: absolute;
  border-radius: 3px;
  object-fit: cover;
  touch-action: none;
}
#crop-selection-overlay:hover
{
  border: 3px solid rgba(255,255,255,.3);
  background: rgba(255,255,255,.3);
  cursor: pointer;
}

#cropped-image
{
  width: 100%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border: 3px solid rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.1);
	border-radius: 12px;
}

footer
{
  color: rgba(0,0,0,.65);
  text-align: center;
}

footer a
{
  text-decoration: none;
  color: black;
}

footer a:hover
{
  text-decoration: underline;
}

.centered-block
{
  display: block;
  margin: 0 auto;
}

.pushdown
{
	margin-bottom: 30px;
}

.hide
{
  display: none;
}

.selected-option
{
  border: 3px solid rgba(0,0,0,.2);
}

.very-recommended-option
{
  box-shadow: 0 3px 6px rgba(69, 173, 66,.16), 0 3px 6px rgba(69, 173, 66, .23);
  border: 3px solid rgb(69, 173, 66) !important;
}

.recommended-option
{
  box-shadow: 0 3px 6px rgba(230, 221, 57, .16), 0 3px 6px rgba(230, 221, 57, .23);
  border: 2px solid rgb(230, 221, 57) !important;
}

#crop-rotate-button
{
  position: relative;
  top: 50%;
  left: 50%;
  width: 15%;
  max-width: 500px;
  min-width: 50px;
  padding: 12px 12px 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,.2);
  border-radius: 10px;
}

#crop-rotate-button:hover
{
  background-color: rgba(0,0,0,.4);
  transition: .25s;
}

#crop-rotate-button img
{
  pointer-events: none;
  width: 100%;
  opacity: 65%;
}

#crop-rotate-button:hover img
{
  opacity: 100%;
  transition: .25s;
}

input[type=number]
{
  display: inline-block;
  width: 60px;
  padding: 2px 3px;
  margin: 0;
  border: 1px solid #cccccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

#form-addbuttons button
{
  display: inline-block;
  width: 100px;
  height: auto;
  margin: 12px;
  font-size: 3em;
  font-weight: bold;
  color: white;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  overflow: hidden;
  padding: 3px;
}

#form-addbuttons button img
{
  display: inline-block;
  width: 100%;
  border-radius: 3px;
  height: auto;
}

#quantity
{
  text-align: right;
}

#form-cart-container
{
  width: 100%;
  height: auto;
  background: rgb(200,200,200);
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-cart-item
{
  padding: 12px;
  border-bottom: 2px solid rgba(0,0,0,.6);
  height: 250px;
}

.cart-item-id img
{
  height: 250px;
}


.Header
{
 margin: auto;
 width: 90%;
 height: 15%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.Heading
{
 font-size: 20px;
 font-weight: 700;
 color: #2F3841;
}

.Action
{
 font-size: 14px;
 font-family: ‘Open Sans’;
 font-weight: 600;
 color: #E44C4C;
 cursor: pointer;
 border-bottom: 1px solid #E44C4C;
}

@media only screen and (max-width: 700px)
{
  header
  {
    line-height: 50px;
  }

  #site-container
	{
    width: 100%;
    padding: 21px;
	}

  input
  {
    width: 100%;
    font-size: 1.025em;
  }

  #photo-information
  {
    font-size: 1.2em;
  }
}
